<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <!-- Android 13 and up: notifications are dropped until the user grants this, which
         HomeActivity asks for on first run. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="false">
        <activity
            android:name=".ui.PhoneActivity"
            android:exported="false" />

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"
            tools:replace="android:exported" />

        <activity
            android:name=".editor.picchooser.SelectPictureActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".editor.editimage.EditImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".services.NotifFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Used for messages that arrive as a notification payload, which Android posts
             on its own without the service building them. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="stickers_updates" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stickersanimated.kissing.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <provider
            android:name=".provider.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true"
            android:readPermission="com.whatsapp.sticker.READ" />

        <activity android:name=".ui.StickerDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stickersanimated.kissing.MainActivity" />
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.UserActivity" />
        <activity android:name=".ui.CategoryActivity" />

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Theme.UserDialog" />

        <activity
            android:name=".ui.EditActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.PolicyActivity" />
        <activity android:name=".ui.SupportActivity" />
        <activity
            android:name=".ui.LoadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/panel_url" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.InfosActivity" />
        <activity android:name=".ui.SlideActivity" />
        <activity android:name=".ui.UploadActivity" />
        <activity android:name=".ui.EditorActivity" />

        <activity
            android:name=".reels.ReelPlayerActivity"
            android:theme="@style/Theme.Reels"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".reels.UploadReelActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

    </application>
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>